.git
.gitignore
.env
.env.*
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
*.log

database/data/files
database/data/metadata
database/data/vectors

!database/data/files/*.py
!database/data/metadata/*.py
!database/data/vectors/*.py